

footer {
    width: 100%;
    background-color: dimgray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding: 10px;
    .headercontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        margin: auto;
        width: 50%;
        h2 {
            font-family: 'Lobster Two';
            font-size: 2rem;
        }
        img {
            width: 25%;
        }
    }
    div {
        width: 50%;
        margin: auto;
        h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .linkcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        width: 50%;
        margin: auto;
    }

    img {
        width: 25%;
    }
}